
{% load static %}
<!DOCTYPE html>
<html>

<head>

<title>{% block style %}{% endblock style %}</title>

<link rel='stylesheet' type = 'text/css' href ="{% static 'css/base.css' %}"/>
<h1>This is message fro Base file  </h1>
</head>

<body>
<link rel='stylesheet' type = 'text/css' href ="{% static 'css/base2.css' %}"/>
<h2>This is Base2 file  </h2>
<p>This site is powered by django </p>

</body>
</html>

