


{% block content %}


{% load static %}


<html>
<head>
<style>


div.a {
  text-align: center;
}

</style>
</head>


<div class= 'a'>

<form method = 'post'>

    {% csrf_token %}


    <h2>New User Data</h2><br>
    {{form.as_p}}


    <button type = 'submit'>Login</button><br>



</form>


<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>User Credentials</h2>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
  </tr>
  <tr>
    <td>{{data.newuser_name}}</td>
    <td>{{data.newuser_password}}</td>


  </tr>
</table>

</body>
</html>




{% endblock %}