<!DOCTYPE html>
<html>


<style>

div.a {
  text-align: center;
}

</style>


<div class = 'a'>
<h2><b> Current Posts </b></h2></div>


    {% for post in posts %}

        <li class = 'collection-item'> <a href = '/posts/details/{{post.id}}'> {{post.title}}</a></li>

    {% endfor %}

</div>





</html>
