


{% block content %}





<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h2> Used Bootstrap for this Page</h2>

</div>









<!DOCTYPE html>
<html>







<style>
.center {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


div.a{text-align:center;}


</style>





    <div class = 'a'>
    <div class = 'center'><p>
    <h2 class = 'center-align'> {{post.title}}</h2>

    <div class = 'card'>

        <div class = 'card-content'>

            {{post.body}}

        </div>


        <div class = 'card-action'>

            <p class = 'bg-info'>Last Updated at : {{post.created_at}}</p>

        </div></p></div>


    </div>
    <p class="bg-primary">Welcome to Ady's Page</p>

    <button><a href='/posts' class="btn btn-primary btn-lg active" role="button"> Home </a></button>
    </html></div>

{% endblock %}