


{% block body %}


<style>
div.a{text-align:center;}

</style>

 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>



{% if messages %}

{%  for message in messages %}



<div class="container">

  <div class="alert alert-info">

    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

    <h4>Form data loaded successfully to the database !</h4>
  </div>

{% endfor %}
{% endif %}
















<div class = 'a'>
<form method = 'post'>

    {% csrf_token %}


    <h2>Forms Model Data</h2><br>
    {{form.as_p}}
    <button type = 'submit'>Submit</button><br>



</form>



    <br><br><h2>Title : </h2>{{data.title}}<br>
            <h2>id : </h2>{{data.id}}

   <h2> Single Filtered obj :</h2>
    {{filter_obj}}<br>



    <h2>Curent Form user :</h2>
    {{data.user}}<br>

    <h2>Now all the users</h2>

    {% for user in all_users %}

        {{user}}<br>
        {{user.email}}<br><br>



    {% endfor %}

    Order by:{{order_by_email}}

</div>

{% endblock %}
