<!DOCTYPE html>
<html>
<link rel='stylesheet' href ='/static/css/base.css' />
<head>

<style>

div.a {
  text-align: center;
}




body {background-color: powderblue;}
h1   {color: green;}
p    {color: gray;}

</style>
</head>
<body>

<div class= 'a'>

<h1>Aditya's Django website</h1>
<p>This site is powered by django </p>
<br>

<span style=" color: red;  font-size: 32px;">
            Visitor Count : {{ page_count }}
        </span>


<br>

<text> This is my sample website</text>


<a style = 'display:block' class = 'center-align' href = '/admin' >Admin Login Page</a>
<a style = 'display:block' href ="{% url 'create_user.html'  %}"><h2>Create New User</h2></a>

<ul class = 'collection'>




<div class = 'a'>
<h2><b> Current Posts </b></h2></div>


    {% for post in posts %}

        <li class = 'collection-item'> <a href = '/posts/details/{{post.id}}'> {{post.title}}</a></li>

    {% endfor %}

</div>
</body>
</html>








{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


div.a {
  text-align: center;
}

</style>
</head>
<body>



<div class= 'a'>

<a style = 'display:block' href ="{% url 'slider.html'  %}"><h2> Slider Web Page </h2></a>
<a style = 'display:block' href ="{% url 'forms.html'  %}"><h2> User Login Form </h2></a>
<a style = 'display:block' href ="{% url 'data_sci_1.html'  %}"><h2>Ghraph output</h2></a>


<h2><mark>Sample Django Website </mark></h2>
<p>This is ady's website</p>

</div>

<img src="{% static 'posts/images/django.jpg' %}" alt="django" style="width:40%">


</body>

<script>
	window.oncontextmenu = function () {
				return false;
			}
			$(document).keydown(function (event) {
				if (event.keyCode == 123) {
					return false;
				}
				else if ((event.ctrlKey && event.shiftKey && event.keyCode == 73) || (event.ctrlKey && event.shiftKey && event.keyCode == 74)) {
					return false;
				}
			});
		</script>


</html>
