


{% block content %}


<html>
<style>
div.a {
  text-align: center;
}


</style>
</head>


<div class= 'a'>

<form method = 'post'>

    {% csrf_token %}


    <h2>Login Form Data</h2><br>
    {{form.as_p}}


    <button type = 'submit'>Login</button><br>



</form>

    You are {{username}}

    {{last_login}}




    {% if 'username' in request.session %}



            <p> {{request.session.username}} </p>

            {% with username1=request.session.username %}

            <h3>You are a valid user ! {{username1}}</h3>

            {% endwith %}






    {% else %}
         <h3>('You need to be a authenticated user to view this form !')<h3>

    {% endif %}






</html>




{% endblock %}