<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<style>

div.a {
  text-align: center;
}


div.b {
  text-align: right;
}




</style>





<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>


    <a style = 'display:block' class = 'center-align' href = '/admin' >Admin Login Page</a>
    <a style = 'display:block' href ="{% url 'create_user.html'  %}"><h3>Create New User</h3></a>
    <a style = 'display:block' href ="{% url 'forms.html'  %}"><h3> User Login Form </h3></a>
    <a style = 'display:block' href ="{% url 'current_posts.html'  %}"><h3> Current Posts </h3></a><br>

    <a style = 'display:block' href ="{% url 'slider.html'  %}"><h3> Slider Web Page </h3></a>
    <a style = 'display:block' href ="{% url 'data_sci_1.html'  %}"><h3>Ghraph output</h3></a>
    <a style = 'display:block' href ="{% url 'earth3.html'  %}"><h3>Geo Map Location </h3></a>

</div>









<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class = 'a'>
  <div class="w3-container">
    <h1>Welcome to Ady's page <span style='font-size:70px;'>&#128512;</span></h1>
  </div></div>
  <div class = 'b'>
  <span style=" color: yellow;  font-size: 28px;">
            Visitor Count : {{ page_count }}
        </span></div>

</div>


<div class = 'a'>
<div class="w3-container">
<p>On this web page you will find various thing like</p>
<p>A Slider page with (video link) as 2nd slide </p>
<p>A user Login form connected with database</p>
<p>Calculated - Graphical data to diplay</p><br>
<p> Also note this page cannot be copied !</p>
</div></div>

</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>


<script>
	window.oncontextmenu = function () {
				return false;
			}
			$(document).keydown(function (event) {
				if (event.keyCode == 123) {
					return false;
				}
				else if ((event.ctrlKey && event.shiftKey && event.keyCode == 73) || (event.ctrlKey && event.shiftKey && event.keyCode == 74)) {
					return false;
				}
			});
		</script>

</div>
</body>
</html>
