


{% block content %}


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  </style>
</head>
<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>



    <div class="carousel-inner" role="listbox">
      <div class="item active">
      <div class="carousel-caption">
          <h3>Bike 1</h3>
          <p>This beauty is real fast</p>
        </div>

        <img src="{% static 'posts/images/b2.jpg' %}"  alt="bike 1" width="1200" height="700">

      </div>

      <div class="item">
        <iframe width="1000" height="700" src="https://www.youtube.com/embed/HG2Xii3dHEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="carousel-caption">
          <h3>Bike 2</h3>
          <p>Looking for good acelaration , try this beast</p>
        </div>
      </div>

      <div class="item">
        <div class="carousel-caption">
          <h3>Bike 3</h3>
          <p>This ride protects the enviornment</p>
        </div>
        <img src= "{% static 'posts/images/b4.jpg' %}" alt="bike 3" width="1200" height="700">

      </div>
    </div>

{% endblock %}